* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: violet;
    z-index: 100;
    height: 58px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li {
    padding: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li:hover {
    background-color: wheat;
}

.navtoggle,
label {
    display: none;
}

@media screen and (max-width:700px) {
    label {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        color: white;
    }
    nav ul {
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: violet;
        transform: scale(1, 0);
        transform-origin: top;
        opacity: 0;
        transition: transform 200ms ease-in;
    }
    .navtoggle:checked~nav ul {
        transform: scale(1, 1);
        opacity: 1;
    }
}